@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.carousel-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-top: 6.25rem; /* 100px -> 6.25rem */
}

.carousel-wrapper > h1 {
  font-family: "Sofia", cursive;
  color: black;
  font-size: 3.75rem; /* 60px -> 3.75rem */
}

.carousel-container {
  position: relative;
  width: calc(100% - 2.5rem); /* 2.5rem = 40px */
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3.125rem; /* 50px -> 3.125rem */
}

.carousel-slide {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 33.33%;
  margin: 0 0.625rem;
}

.carousel-item img {
  width: 80%;
  height: auto;
  object-fit: cover;
  max-height: 21.875rem; 
  border-radius: 10%;
  border: 1px solid black;
}

button.prev, button.next {
  background-color: pink;
  color: black;
  border: none;
  font-size: 2rem; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.625rem; 
  border-radius: 50%;
  z-index: 1;
}

button.prev {
  left: 1.20rem; 
}

button.next {
  right: 1.20rem; 
}

button.prev:hover, button.next:hover {
  background-color: rgb(210, 143, 154);
}

.material-symbols-outlined {
  font-size: 3rem; /* 48px -> 3rem */
  color: white;
}


